<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Swaglabs eCommerce Suite" parallel="methods" thread-count="2" verbose="1">

    <test name="Inventory Tests">
        <parameter name="baseURL" value="https://www.saucedemo.com/v1/index.html"/>
        <parameter name="username" value="standard_user"/>
        <parameter name="password" value="secret_sauce"/>

        <classes>
            <class name="com.juaracoding.ecom.InventoryTest"/>
        </classes>
    </test>

    <test name="Authentication Tests">
        <classes>
            <class name="com.juaracoding.ecom.AuthenticationTest"/>
        </classes>
    </test>

    <test name="UI Tests">
        <classes>
            <class name="com.juaracoding.ecom.DragDropTest"/>
        </classes>
    </test>
</suite>